body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}
.login, .dashboard {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
.job-list {
  max-height: 300px;
  overflow-y: scroll;
}
.job {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
